<div class="flex-container">
    <section class="login bordered-right">
        <div class="row">
            <!-- <div class="col-md-offset-5 col-md-3"> class="col-xs-12 col-sm-10 col-md-10 col-lg-10"-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
                <div class="form-login">
                        <button class="btn btn-link btn-md" ng-click="shop()" type="button">{{entryAction}}</button>
                        <form id="frmLogin">
                        <div class="form-group row">
                            <span >Registered?</span>
                        </div>
                        <div class="form-group row">
                        <input type="text" ng-model=userName maxlength="45"  class="form-control input-sm chat-input margin_bottom" 
                            placeholder="User Name"  />
                        </div>
                        <div class="form-group row">
                            <input type="password" ng-model="userPassword" maxlength="15"  class="form-control input-sm chat-input margin_bottom" 
                                placeholder="Password" />
                        </div>
                        <div class="wrapper">
                            <span class="group-btn"> 
                                <button class="btn btn-primary btn-md" ng-click="login()" type="button">Login<i class="fa fa-sign-in"></i></button>
                                <button class="btn btn-link btn-md" ng-click="signUp()" type="button">Sign Up</button>
                                <!-- <a  ng-click="signUp()" >Sign Up</a> -->
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="commercial bordered-right">
        why you should shop in our stores
    </section>
    <section class="notifications bordered-right">
        <div>
                Available products in our store -
        </div>
        <div>
                Number of orders submitted in our store -
        </div>
        <div>{{entryMessage}}</div>
    </section>
</div>

