<div class="flex-container">
    <section class="login bordered-right">
        <div class="row">
            <!-- <div class="col-md-offset-5 col-md-3"> class="col-xs-12 col-sm-10 col-md-10 col-lg-10"-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
                <div class="form-login">
                    <button class="btn btn-link btn-md" ng-click="shop()" type="button">{{entryAction}}</button>
                    <form id="frmLogin">
                        <div class="form-group row">
                            <span >Registered?</span>
                        </div>
                        <div class="form-group row">
                        <input type="text" ng-model=loginInfo.email maxlength="45"  class="form-control input-sm chat-input margin_bottom" 
                            placeholder="User Name"  />
                        </div>
                        <div class="form-group row">
                            <input type="password" ng-model="loginInfo.password" maxlength="15"  class="form-control input-sm chat-input margin_bottom" 
                                placeholder="Password" />
                        </div>
                        <div class="wrapper">
                            <span class="group-btn"> 
                                <button class="btn btn-primary btn-md" ng-click="login(loginInfo)" type="button">Login<i class="fa fa-sign-in"></i></button>
                                <button class="btn btn-link btn-md" ng-click="signUp()" type="button">Sign Up</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="commercial bordered-right">
        <div>
            <h2>Who we are</h2>
            <!-- <div>
                <p>Shufersal is Israel’s leading retailer. The Company aims to provide 
                high-quality and diverse solutions to all its customers, rewarding employment to its workers, 
                and fair treatment of its suppliers. <br><br>In 1958, Shufersal opened its first store in 
                Tel Aviv - the first modern supermarket of its kind in Israel. The success of that first store 
                was leveraged into growth, resulting in Shufersal’s current position:</p>
                <ul>
                    <li>Hundreds of branches across Israel - from Kiryat Shmona in the north to Eilat in the south;</li>
                    <li>An average of 2 million weekly customers and 1.8 million customer club members; &nbsp;</li>
                    <li>Approx. 13,000 employees from every population segment, religion, and ethnicity in Israel;</li>
                    <li>The Shufersal private label, which offers thousands of high-quality products at reduced prices;</li>
                    <li>Longstanding relations with thousands of suppliers in various fields.</li>
                </ul>
                <p>The satisfaction of its customers, employees, and suppliers is one of Shufersal’s main pillars, one which it constantly strives to improve, in several ways: &nbsp;</p>
                <ul>
                    <li>The Company seeks to offer each and every customer the type of service that meets their unique needs, providing a solution to every type of consumer in Israel. The Company believes in direct relations with its customers and in personal marketing. Using its state-of-the-art data analysis capabilities, Shufersal offers tailor-made discounts and benefits to meet each customer’s personal purchase patterns;</li>
                    <li>The Company’s employees enjoy fair and well-compensated employment conditions, courses, training, and career development programs. &nbsp;Shufersal's employees are its driving force - they are its heart and soul, differentiate it from the competition, and have enabled the chain to be the market leader for decades. &nbsp;&nbsp;</li>
                </ul>
            </div> -->
        </div>
    </section>
    <section class="notifications bordered-right">
        <div>
            <h5>Available products in our store -</h5>
        </div>
        <div>
            <h5>Number of orders submitted in our store -</h5>
        </div>
        <div>{{entryMessage}}</div>
    </section>
</div>

