<!DOCTYPE html>
<html  ng-app='shopping-app'>
    <head>
        <title>Pick n Pay</title>
        <link rel="icon" type="image/png" item-width="48" item-height="48" href="images/shoppingCart.jpg">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="../jquery/dist/jquery.min.js"></script>
        <script src="../angular/angular.min.js"></script>
        <script src="../angular-route/angular-route.min.js"></script>
        <link rel="stylesheet" href="../bootstrap/dist//css/bootstrap.min.css">
        <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../angular-ui-bootstrap/dist/ui-bootstrap-csp.css">
        <script src="../angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>

        <!-- site less file placed after bootstrap files to enable overriding of bootstrap styles --> 
        <link rel="stylesheet/less" type="text/css" href="styles/style.less" />
        <link rel="stylesheet/less" type="text/css" href="products/products.style.less" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>

        <!-- General -->
        <script src="app.js"></script>
        <script src="config.js"></script>
        <script src="header.controller.js"></script> 
        <script src="services/loginService.js"></script>

        <!-- Home -->
        <script src="home/home.controller.js"></script> 
        <script src="directives/fileModelDirective.js"></script>
        <script src="services/storeService.js"></script>
        <script src="services/imageService.js"></script>
        <script src="objects/customer.js"></script>
        <script src="factories/customerInfo.js"></script>
        <script src="objects/login.js"></script>

        <!-- Sign Up -->
        <script src="signUp/signUp.controller.js"></script>
        <script src="signUp/signUp.directives.js"></script>
        <script src="services/signUpService.js"></script>

        <!-- Shopping -->   
        <script src="shopping-cart/ctrlCartUpdate.js"></script> 
        <script src="shopping-cart/ctrlProductDialog.js"></script>
        <script src="shopping-cart/shoppingCart.directives.js"></script>
        <script src="services/cartService.js"></script>
        <script src="factories/cartInfo.js"></script>
        <script src="objects/cart.js"></script>
        <script src="objects/cartItem.js"></script>

        <!-- Order -->   
        <script src="order/order.controller.js"></script>
        <script src="order/orderConfirmationController.js"></script>
        <script src="objects/order.js"></script>
        <script src="services/orderService.js"></script>

        <!-- Products Management --> 
        <script src="products/product.filter.js"></script>
        <script src="products/productDisplay.controller.js"></script>  
        <script src="products/productUpdate.controller.js"></script>  
        <script src="products/products.directives.js"></script>     
        <script src="services/categoryService.js"></script>
        <script src="services/productService.js"></script>

    </head>
    <body> 
        <header ng-controller="header">
            <div  class="navbar navbar-inverse">
                <div class="container-fluid" id="shopping-navigation">
                    <div class="navbar-header">
                        <img src="images/logo.png" class="img-fluid img-thumbnail"  width="205" height="75" alt="Store Logo">
                    </div>
                    <div>
                        <div class="pull-right  center-text">
                            <div><label>{{customerContactInfo}}</label></div>
                            <div><button  class="btn btn-link btn-md" ng-click="logout()" type="button" ng-if="loggedIn">logout</button></div>
                            <div><label>{{customerName}}</label></div>
                        </div>
                    </div>
                </div>
            </div> 
        </header>
        <div ng-view></div>
    </body>
</html>