//------------------------------------------------------------------------------------------------------------------------------------------------------
//flex container - used for layout of whole site
.flex-container { //used for entire page layout
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 5px 5px 5px 10px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

@media all and (min-width: 300px) {        
    .aside {-webkit-flex: 1 auto; flex: 1 auto; -webkit-order: 1; order: 1;}
    .main  {-webkit-flex: 6 auto; flex: 6 auto; -webkit-order: 2; order: 2;}
}

@media all and (min-width: 300px) {   
    .courses-flex  {-webkit-flex: 3 auto; flex: 3 auto; -webkit-order: 1; order: 1;}
    .students-flex {-webkit-flex: 3 auto; flex: 3 auto; -webkit-order: 2; order: 2;}
}
//------------------------------------------------------------------------------------------------------------------------------------------------------
//style to display image with text aligned horizontally next to image - used in entire site:  examples navigation bar displaying admin info next to admin image 
 //mixin for info rows
 .info-row {  
    display: flex;
    flex-direction: row;
}

.info-row-navigation { //used in navigation bar
    .info-row;
    height: 75px;
}
