//---------------------------------------------------------------------------
//genral styles 
//---------------------------------------------------------------------------

* {
	margin:0px;
    padding:0px;
    box-sizing: border-box;
}
//  body { color: #0a0a29 !important; }

.bordered-bottom {  //used as visual divider between aside and main containers #side-container
        border-bottom: 2px #0a0a29 solid;
}

.caption { //used for general description in sidebar
    float: left;
    font-weight: bold;
    padding: 8px 0px 0px 10px;
} 

.form-control { 
        display: inline-block;
        width: auto;
} 

.validationError {
    background:url("../images/error.png") no-repeat  left top;
    padding-left: 18px;
    font-weight: 500;
    color: darkred;
}

.indent {margin-left: 10px;}    

.clear { clear: both; }

.resize { 
    resize: horizontal;
    overflow: hidden
}

h3 { margin: 0px; }

.left-panel-flex { 
    background-color: #d6d6f5;  
    min-height: 600px; 
    width: 510px
}

.center-text {
    text-align: center; 
}

.underline { 
    border-bottom: solid 2px navy;
}


.image-margin { margin: 0px 3px 3px 0px}


//---------------------------------------------------------------------------
//flex container - used for layout of whole site
//---------------------------------------------------------------------------

.flex-container { //used for entire page layout
    // display: -webkit-flex;
    // display: flex;  
    // -webkit-flex-flow: row wrap;
    // flex-flow: row wrap;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
}

.flex-container > * {
    padding: 5px 5px 5px 10px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

@media all and (min-width: 300px) {        
    .left-panel-flex {-webkit-flex: 1 auto; flex: 1 auto; -webkit-order: 1; order: 1;}
    .right-panel-flex  {-webkit-flex: 6 auto; flex: 6 auto; -webkit-order: 2; order: 2;}
}


//---------------------------------------------------------------------------
//styles for navigation header
//---------------------------------------------------------------------------
#shopping-navigation {
    background-color: #d6d6f5 ; 
    button { 
        color:#337ab7; 
        padding: 0px; 
    } 
    img { margin: 5px; }
}


//---------------------------------------------------------------------------
//scrollable tables (products & cart items) according to device height
//---------------------------------------------------------------------------

@small-device: ~"only screen and (max-height: 600px)";
@medium-device: ~"only screen and (min-height: 601px) and (max-height: 850px)";
@large-device: ~"only screen and (min-height: 851px)";

.scrollable-table { //mixin
    overflow-y: auto;
    width: 95%;
}

@table-height-products--small: 200px;
@table-height-products--medium: 490px; 
@table-height-products--large: 530px;

.products_table { //scrolling for product table
    .scrollable-table;
    @media @small-device { height: @table-height-products--small; }
    @media @medium-device { height: @table-height-products--medium; }
    @media @large-device { height: @table-height-products--large; }
}


@table-height-cart--small: 230px;
@table-height-cart--medium: 480px; 
@table-height-cart--large: 560px;

.cart_items_table { //scrolling for cart_items_table
    .scrollable-table;
    @media @small-device { height: @table-height-cart--small; }
    @media @medium-device { height: @table-height-cart--medium; }
    @media @large-device { height: @table-height-cart--large; }
}