<div class='flex-container' >
        <h3>Order</h3>
        <section class='product-action-flex resize'>
            <shopping-cart></shopping-cart>
        </section>
        <section class='product-list-flex resize'>
            <div class='underline'>
                <span class='caption'>Delivery Details</span>
            </div>
            <div class='clear'></div>
            <br><br>
            <form ng-controller='ctrlOrder' name='formOrder'>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-left">City</label>
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 text-left">
                        <select class="form-control order-control" name='city' ng-dblclick='inputDoubleClick($event.currentTarget)'
                             ng-options="o as o for o in options"  ng-model="order.city" required></select>
                        <label class="validationError" 
                            ng-show="!formOrder.city.$valid && showErrorMessages">city required</label>     
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-left">Street</label>
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 text-left">
                        <input type="text" name='street' ng-model=order.street class="form-control order-control" maxlength="45" 
                            ng-dblclick='inputDoubleClick($event.currentTarget)'  placeholder="Enter Street" required>
                        <label class="validationError" 
                            ng-show="!formOrder.street.$valid && showErrorMessages">street required</label>     
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-left">Delivery Date</label>
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 text-left">
                        <input type="text" class="delivery-date pull-left form-control" 
                            uib-datepicker-popup="{{format}}" ng-model="order.deliveryDate" 
                            is-open="DatePicker.opened" datepicker-options="dateOptions" 
                            show-button-bar="false" close-text="Close" name=deliveryDate readonly required/>
                        <button type="button" class="btn btn-default pull-left calendar" ng-click="openDatePicker()"
                                title='Dates with more than 3 scheduled deliveries are automatically disabled'>
                                <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                        <label class="validationError" 
                            ng-show="!formOrder.deliveryDate.$valid && showErrorMessages">delivery date required</label>  
                        <div class='pull-left'><small>Dates with more than 3 scheduled deliveries are automatically disabled</small></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-left">Credit Card</label>
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 text-left">
                        <input placeholder="Enter Credit Card" type="text" class="form-control order-control" 
                            ng-model='order.creditCard' ng-keyup='editCreditCard()' maxlength="19">
                        <label class="validationError">{{creditCardErrorMessage}}</label>     
                    </div>
                </div>
                <div class="row button-row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <span class="float-md-right">
                            <button class="btn btn-primary" ng-click='order()'  type="button">Order</button>
                        </span>
                    </div>
                </div>
            </form>
        </section>
    </div>