<div class='flex-container' >
        <h3>Order</h3>
        <section class='product-action-flex resize'>
            <shopping-cart></shopping-cart>
        </section>
        <section class='product-list-flex resize'>
            <div class='underline'>
                <span class='caption'>Shipping Details</span>
            </div>
            <div class='clear'></div>
            <br><br>
            <form ng-controller='ctrlOrder' name='frmOrder'>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-left">City</label>
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 text-left">
                        <select class="form-control" name='city' ng-dblclick='inputDoubleClick($event.currentTarget)' ng-options="o as o for o in options" ng-model="city"></select>
                        <label class="validationError">{{city_errorMessage}}</label>     
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-left">Street</label>
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 text-left">
                        <input type="text" name='street' ng-model=street ng-dblclick='inputDoubleClick($event.currentTarget)' class="form-control" maxlength="45" placeholder="Enter Street">
                        <label class="validationError">{{street_errorMessage}}</label>     
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-left">Shipping Date</label>
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 text-left">
                        <input type="text" class="inline-control pull-left form-control" uib-datepicker-popup="{{format}}" 
                            ng-model="deliveryDate" is-open="DatePicker.opened" datepicker-options="dateOptions" close-text="Close" />
                        <button type="button" class="btn btn-default pull-left" ng-click="openDatePicker()"
                                title='Dates with more than 3 scheduled deliveries are automatically disabled'>
                                <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                        <label class="validationError">{{shipping_date_errorMessage}}</label>     
                    </div>
                </div>
                <!-- <div>
                    <span class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-left"></span>
                    <span class="col-xs-12 col-sm-10 col-md-10 col-lg-10 text-left">
                        Dates with more than 3 scheduled deliveries are automatically disabled</span>
                </div> -->
                <div class="form-group row">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-left">Credit Card</label>
                    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 text-left">
                        <input placeholder="Enter Credit Card" type="text" class="form-control" 
                            ng-model='creditCard' ng-keyup='editCreditCard()' maxlength="19" >
                            <!-- ng-pattern="/^(?:4[0-9]{12}(?:[0-9]{3})? | (?:5[1-5][0-9]{2} | 222[1-9]|22[3-9][0-9]|2[3-6][0-9]{2}|27[01][0-9]|2720)[0-9]{12})$/"> -->
                        
                            <!-- ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,60}$/" -->
                        
                            <label class="validationError" ng-show="frmOrder.creditCard.$dirty && frmOrder.creditCard.$invalid">credit card number invalid</label>     
                        <label class="validationError">{{creditCard_errorMessage}}</label>     
                    </div>
                </div>
                <div class="row button-row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <span class="float-md-right">
                            <button class="btn btn-primary" ng-click='order()'  type="button">Order</button>
                        </span>
                    </div>
                </div>
            </form>
        </section>
    </div>

    
    <!-- alt-input-formats="altInputFormats" -->