//used to style add new product button as "+"
.add-button { 
    background-color : #d6d6f5; 
    border : none; 
    padding : 5px 20px 5px 5px; 
    font-size: 20px;
    font-weight: 900;
    float: right;
    outline: none;
}


input[type=file] {
        display: inline-block; 
        margin: 0px 10px 0px 0px;
}

figure {
        display: flex;
        align-items: center; 
}
.image-margin { margin: 0px 3px 3px 0px}

//added form to selector because .form-control is used in login panel & login panel must have form-control width 100%
#formProductCU input.form-control, #formProductCU select.form-control { 
        display: inline-block;
        width: auto;
        min-width: 60%;
}  

.validationError {
    background:url("../images/error.png") no-repeat  left top;
    padding-left: 18px;
    font-weight: 500;
    color: darkred;
}

.product-background { 
        margin: 1px;
        border: navy 1px solid;
        height:120px; 
        max-width: 150px;
    }

.product-background canvas { 
        margin-top: 10px;
}

.indent {margin-left: 10px;}    

