
<div ng-controller="ctrlProductDisplay">
    <div class='searchProducts text-right'>
        <label>Search Product</label>
        <input type="text" ng-model=productSearchParm  maxlength="45">
        <button type="button" class="btn btn-info btn-xs" ng-click='searchProduct()'>
            <span class="glyphicon glyphicon-search"></span> Search
        </button>    
    </div>
    <div  class="container-fluid" >
        <uib-tabset active="active"> 
            <uib-tab ng-repeat="category in categories" index="category.value" heading="{{category.text}}" >
                <div class='product_table'>
                    <table class="table table-hover table-responsive">
                        <tbody>
                            <!-- <div ng-repeat="product in products  | selectCategory : category.value | productSearch : productSearchParm"  -->
                                    <!-- <a ng-repeat="set in data | filter: (!disableFilter || '') && filterExpression"></div> -->
                            <div ng-repeat="product in products  | selectCategory : category.value : productSearch"  ng-click="productSelected(product)">
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 product-background"> 
                                    <div>
                                        <canvas id=canvas-product-{{product.id}}  class="img-fluid image-margin"  width="40" height="50" ></canvas>
                                    </div>  
                                    <div>
                                        <label>{{product.name}}</label>
                                    </div>  
                                    <div>
                                        <label>{{product.price}}$</label>
                                    </div>  
                                </div>                
                            </div>
                            <div ng-repeat="product in foundProducts | filter: productFilter" ng-click="productSelected(product)" >
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 product-background"> 
                                    <div> 
                                        <img ng-src='image_for_product_id_{{product.id}}.jpg'
                                             class="img-fluid image-margin"  width="40" height="50" >
                                    </div>  
                                    <!--  -->
                                    <div>
                                        <label>{{product.name}}</label>
                                    </div>  
                                    <div>
                                        <label>{{product.price}}$</label>
                                    </div>  
                                </div>                
                            </div>
                        </tbody>
                    </table>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>    
</div>