<div ng-controller="home" class="flex-container">
    <section class="login bordered-right flex-item col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <div class="row">
            <!-- <div class="col-md-offset-5 col-md-3"> class="col-xs-12 col-sm-10 col-md-10 col-lg-10"-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
                <div class="form-login">
                    <button class="btn btn-link btn-md" ng-click="shop()" type="button">{{entryAction}}</button>
                    <form name="formLogin">
                        <div class="form-group row">
                            <span >Registered?</span>
                        </div>
                        <div class="form-group row">
                            <span class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-left"></span>
                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 text-left">
                                <input type="text" ng-model=email class="form-control login-control" maxlength="45" 
                                    name=email placeholder="User Name" required>
                                <label class="validationError"
                                    ng-show="!formProductCU.email.$valid && showErrorMessages">User Name missing</label>     
                            </div>
                        </div>
                        <div class="form-group row">
                            <span class="col-xs-1 col-sm-1 col-md-1 col-lg-1 text-left"></span>
                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 text-left">
                                <input type="password" ng-model=password class="form-control login-control" maxlength="15" 
                                    name=password placeholder="Password" required>
                                <label class="validationError" 
                                    ng-show="!formProductCU.password.$valid && showErrorMessages">Password missing</label>     
                            </div>
                        </div>
                                                    <!-- <div class="form-group row">
                            <input type="text" ng-model=email maxlength="45"  class="form-control" 
                                placeholder="User Name" name="email" required />
                            <label class="validationError"
                                ng-show="!formLogin.email.$valid && showErrorMessages">User Name missing</label>
                        </div> -->
                        <!-- <div class="form-group row">
                            <input type="password" ng-model="password" maxlength="15"  class="form-control" 
                                placeholder="Password" name="password" required />
                            <label class="validationError"
                                ng-show="!formLogin.password.$valid && showErrorMessages">Password missing</label>
                        </div> -->
                        <div class="wrapper">
                            <span class="group-btn"> 
                                <button class="btn btn-primary btn-md" ng-click="login()" type="button">Login<i class="fa fa-sign-in"></i></button>
                                <button class="btn btn-link btn-md" ng-click="signUp()" type="button">Sign Up</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="commercial bordered-right flex-item col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <div>
            <h2 class="center-text">Who we are</h2>
            <div>
                <img src="images/storeFront.jpg" 
                   class="img-responsive img-thumbnail"  width="350" height="150" alt="store front">
            </div>
            <div class='store-text'>
                <p>Pick n Pay is Israel’s leading retailer. The Company aims to provide 
                high-quality and diverse solutions to all its customers. <br><br>In 1958, Pick n Pay opened its first store in 
                Tel Aviv - the first modern supermarket of its kind in Israel. The success of that first store 
                was leveraged into growth, resulting in Pick n Pay’s current position:</p>
                <ul>
                    <li>Hundreds of branches across Israel - from Kiryat Shmona in the north to Eilat in the south;</li>
                    <li>An average of 2 million weekly customers and 1.8 million customer club members; &nbsp;</li>
                    <li>The Pick n Pay private label, which offers thousands of high-quality products at reduced prices;</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="notifications bordered-right flex-item col-xs-12 col-sm-12 col-md-2 col-lg-2">
        <div>
            <img src="images/fruitNveg.jpg" 
                class="img-responsive img-thumbnail" width="315" height="135" alt="fruit and vegetables">
        </div>
        <div>
            <h4>Available products in our store - {{numberProducts}}</h4>
        </div>
        <div>
            <h4>Number of orders submitted in our store - {{numberOrders}}</h4>
        </div>
        <div><h4>{{entryMessage}}</h4></div>
    </section>
</div>

