<form class="form-horizontal" name='formProductDialog'>
  <div class="modal-header">
    <h3 class="modal-title">Add {{productName}} to Cart</h3>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-left">Quantity</label>
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 text-left">
        <input type="number" name='productQuantity'  ng-model=productQuantity class="form-control"  max="999" min="1" step="1" maxlength='3' ng-required="true">
        <label class="validationError"  ng-show="formProductDialog.productQuantity.$invalid">enter quantity between 1 and 999</label>
      </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" type="button" ng-click="addToCart()">Add to Cart</button>
    </div>
  </div>
</form>